.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-container {
  font-size: 20px;
  width: 85vw;
  max-width: 500px;
  height: 90px;
  border: 2px solid #b22222;
  background-color: #003f0e;
  color: #f5f5f5;
  border-radius: 10px;
  margin: 1rem 0;
}

.cards-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1023px) {
  

  input {
    margin-left: 20px;
  }
}
